.entreAbelhas {
  background-image: url('./data/imgs/bgs/cute-cartoon-bumble-bee-dandelion-wine-doodles-seamless-border-pattern-summer-vector-repeatable-background-texture-tile-cozy-template-stock-print-wrapping-design-wallpaper_44769-2555.jpg');
  
  .picture {
    border-color: yellow black !important;
  }

  .header {
    background: yellow;
  }

  .score {
    background-color: yellow;
  }

  .submitter {
    > * {
      background: yellow;
    }
  }
}

.timelapse {
  background-image: url('./data/imgs/bgs/clock-pattern-background-thumb24.jpg');
  
  .picture {
    border-color: green darkgreen !important;
  }

  .header {
    background: green;
    color: whitesmoke;
  }

  .score {
    background-color: green;
    border-color: whitesmoke !important;
    color: whitesmoke;
  }

  .submitter {
    > * {
      background: green;
      color: whitesmoke;
    }
  }
}