.entreAbelhas {
  background-image: url('./data/imgs/bgs/cute-cartoon-bumble-bee-dandelion-wine-doodles-seamless-border-pattern-summer-vector-repeatable-background-texture-tile-cozy-template-stock-print-wrapping-design-wallpaper_44769-2555.jpg');
}
.entreAbelhas .picture {
  border-color: yellow black !important;
}
.entreAbelhas .header {
  background: yellow;
}
.entreAbelhas .score {
  background-color: yellow;
}
.entreAbelhas .submitter > * {
  background: yellow;
}
.timelapse {
  background-image: url('./data/imgs/bgs/clock-pattern-background-thumb24.jpg');
}
.timelapse .picture {
  border-color: green darkgreen !important;
}
.timelapse .header {
  background: green;
  color: whitesmoke;
}
.timelapse .score {
  background-color: green;
  border-color: whitesmoke !important;
  color: whitesmoke;
}
.timelapse .submitter > * {
  background: green;
  color: whitesmoke;
}
